#backMenu {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 3px;
	-fx-border-radius: 3px;
}

.case {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 3px;
}

.cross {
	-fx-background-image: url("../../resources/cross.png");
	-fx-background-size: 150px 150px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.circle {
	-fx-background-image: url("../../resources/circle.png");
	-fx-background-size: 150px 150px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}